@import "../../layouts/palette.scss";

:export {
  color1: $color1;
  color2: $color2;
  color3: $color3;
  color4: $color4;
  color5: $color5;
}

/*
  .cielo        {fill:#9CCBED;} color1
  .marcoExt     {fill:#CC6929;} color2
  .pastoColor   {fill:#33CCCC;} color3
  .marcoInt     {fill:#33CCCC;} color3
  .extColor     {fill:#E1E6E7;} color4
  .muroExt      {fill:#E1E6E7;} color4
  .extContorno  {fill:#1D4176;} color5
  .trazoVentana {fill:#1D4176;} color5
*/
