@import "../../layouts/palette.scss";
@import "./nubes.sass";
/*
:export {
  color1: $color1;
  color2: $color2;
  color3: $color3;
  color4: $color4;
  color5: $color5;
}
*/

.nubes-contorno, .torre-contorno, .pasto-contorno, .marco-contorno {
  fill: $color4;
}
.nubes-color, .torre-color {
  fill: $color5;
}
.pasto-color {
  fill: $color2;
}
.cielo {
  fill: $color1;
}

// VENTANA
.marco-int {
  fill: $color3;
}
.marco-ext {
  fill: $color5;
}
.marco-contorno {
  //fill: $color4;
  //fill: rgba(0,0,0,0);
}
.muro {
  fill: $color5;
}

/*
  .marcoExt     {fill:#CC6929;} color2
  .muroExt      {fill:#E1E6E7;} color4

  */
