@import url('https://fonts.googleapis.com/css?family=Text+Me+One&subset=latin-ext');
@import "./palette.scss";

body {
  color: $color3;
  background-color: $color2;
}

.ui.header, .ui.menu {
  color: $color5;
}

a {
  color: $color4;
}
