@import url('https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here|Text+Me+One&subset=latin-ext');

body {
  font-family: 'Text Me One', sans-serif;
}

.ui.menu .ui.header,
.ui.header {
  font-family: 'Just Me Again Down Here', cursive;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 20px;
}
