@import url('https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here|Text+Me+One&subset=latin-ext');

body {
  font-family: 'Text Me One', sans-serif;
}

.ui.header {
  font-family: 'Text Me One', sans-serif;
}

.ui.menu .ui.header {
  font-family: 'Just Me Again Down Here', cursive;
}
