/* Coolors Exported Palette - coolors.co/5ca4a9-1f363d-f4f1bb-ed6a5a-9ec1a3 */

/* HSL */
$color1: hsla(184%, 31%, 51%, 1);
$color2: hsla(194%, 33%, 18%, 1);
$color3: hsla(57%, 72%, 85%, 1);
$color4: hsla(7%, 80%, 64%, 1);
$color5: hsla(129%, 22%, 69%, 1);

/* RGB */
$color1: rgba(92, 164, 169, 1);
$color2: rgba(31, 54, 61, 1);
$color3: rgba(244, 241, 187, 1);
$color4: rgba(237, 106, 90, 1);
$color5: rgba(158, 193, 163, 1);