/* Coolors Exported Palette - coolors.co/ffffff-ffe8d1-568ea3-68c3d4-826251 */

/* HSL */
$color1: hsla(0%, 0%, 100%, 1);
$color2: hsla(30%, 100%, 91%, 1);
$color3: hsla(196%, 31%, 49%, 1);
$color4: hsla(189%, 56%, 62%, 1);
$color5: hsla(21%, 23%, 41%, 1);

/* RGB */
$color1: rgba(255, 255, 255, 1);
$color2: rgba(255, 232, 209, 1);
$color3: rgba(86, 142, 163, 1);
$color4: rgba(104, 195, 212, 1);
$color5: rgba(130, 98, 81, 1);