/* Coolors Exported Palette - coolors.co/42f2f7-f7b267-00bd9d-05668d-ea8c55 */

/* HSL */
$color1: hsla(182%, 92%, 61%, 1);
$color2: hsla(31%, 90%, 69%, 1);
$color3: hsla(170%, 100%, 37%, 1);
$color4: hsla(197%, 93%, 29%, 1);
$color5: hsla(22%, 78%, 63%, 1);

/* RGB */
$color1: rgba(66, 242, 247, 1);
$color2: rgba(247, 178, 103, 1);
$color3: rgba(0, 189, 157, 1);
$color4: rgba(5, 102, 141, 1);
$color5: rgba(234, 140, 85, 1);