input[type=text], textarea {
  background-color: rgba(0,0,0,0) !important;
  //border: none !important;
  border: 0 !important;
  border-radius: 0 !important;
  border-bottom: 2px solid #f4f1bb !important;
}
