input[type=text], textarea {
  background-color: rgba(0,0,0,0) !important;
  border: 2px solid #f4f1bb !important;
  font-family: 'Text Me One', sans-serif;
  font-size: 1.66em !important;
  color: #f4f1bb !important;
}

.ui.form span {
  font-size: 1.66em !important;
}
